*{
    margin: 0;
}

header{
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #00bfff;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
}

.question,.solution{
    height: calc(100% - 75px);
    float: left;
}

.question{

    width: calc(50% - 1px);
    position: relative;
    border: 0.1px #c6c6c6 solid;
}

.question-head{
    margin: 40px 30px;
    font-size: 2rem;
}

.question-description{
    margin: 40px 30px;
    font-size: 1rem;
}

.question-addOn{
    margin: 40px 50px;
    font-size: 1rem;
}
.button{
    border: none;
    border-radius: 20px;
    background: #00bfff;
    height: 30px;
    width: auto;
    padding: 0 30px;
    color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.solution{

    width: 50%;
    overflow: hidden;
    background-color: #dce2f1;
}

#editor{
    height: 80vh;
}